/* Header Section */
.header {
    background-color: #eeeeee;
    padding: 3% 12%;
    text-align: center;
}

/* Style BRIGL LAB */
.header-h3 {
    font-family: 'Rubik', sans-serif;
    color: #393b44;
    font-size: 4.5rem;
    letter-spacing: 0.8rem;
}

/* Make the BWH/HMS Logo scale with different device sizes */

/* Smaller phones */
@media only screen and (max-width: 600px) {
  .header-h3 {
      font-family: 'Rubik', sans-serif;
      color: #393b44;
      font-size: 3.5rem;
      letter-spacing: 0.5rem;
  }
  .img-logo {
      width: 70%;
  }
}

/* Small devices, tablets, larger phones */
@media only screen and (min-width: 600px){
  .header-h3 {
      font-family: 'Rubik', sans-serif;
      color: #393b44;
      font-size: 3.5rem;
      letter-spacing: 0.5rem;
  }
  .img-logo {
      width: 60%;
  }
}

/* Tablets On Landscape */
@media only screen and (min-width: 768px) {
  .img-logo {
      width: 50%;
  }
}

/* Larger Devices */
@media only screen and (min-width: 992px) {
  .img-logo {
      width: 40%;
  }
}

/* Extra  large devices */
@media only screen and (min-width: 1200px) {
  .img-logo {
      width: 40%;
  }
}

@media only screen and (min-width: 1400px) {
  .img-logo {
      width: 30%;
  }
}

/* Ultrawide Support ! */
@media only screen and (min-width: 1400px) {
  .img-logo {
      width: 20%;
  }
}

/* Navigation Bar */

.navbar-custom {
    margin-top: 30px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
}

/* Carousel Section */

.carousel-section {
    padding: 2% 7%;
}

.carousel-item {
    height: 500px;
}

/* Introduction Section  */

.intro {
    padding: 2% 17% 1%;
}

.intro-h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

/* Recent News Section */
.news-section {
    padding: 2% 17%;
}
.h3-news {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #3C4256;
    text-align: center;
    margin-bottom: 3%;
}

.list-news {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.20rem;
    font-weight: 400;
    margin-bottom: 2%;
}

.news-date {
    color: #3D3D46;
    font-weight: 600;
}
