/* Header Section */
.header {
  background-color: #eeeeee;
  padding: 3% 12%;
  text-align: center;
}

/* Style BRIGL LAB */
.header-h3 {
  font-family: 'Rubik', sans-serif;
  color: #393b44;
  font-size: 4.5rem;
  letter-spacing: 0.8rem;
}

/* Navigation Bar */
.navbar-custom {
  margin-top: 30px;
  font-family: 'Work Sans', sans-serif;
}

/* Carousel Section */
.carousel-section {
  padding: 2% 14% 1%;
}

/* Introduction Section  */
.intro {
  padding: 2% 17% 1%;
}

.intro-h6 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

/* Recent News Section */
.news-section {
  padding: 2% 17%;
}

.h3-news {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #3C4256;
  text-align: center;
  margin-bottom: 3%;
}

.list-news {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.20rem;
  font-weight: 400;
  margin-bottom: 2%;
}

.news-date {
  color: #3D3D46;
  font-weight: 600;
}

/* Research Page */
.research-section-cd1, .research-section-nkt, .research-section-invariants, .research-section-dnkt {
  padding: 1% 17%;
}

.research-section-cd1 {
  padding-top: 2%;
}

.research-h3 {
  font-family: 'Rubik', sans-serif;
  color: #3D3D46;
  text-align: center;
}

.p-research {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.20rem;
  font-weight: 400;
}

.img-research {
  display: block;
  margin: auto;
}

.img-cd1, .img-invariants, .img-dnkt, .img-nkt {
  margin-top: 40px;
  margin-bottom: 30px;
}

/* .img-dnkt {
  margin-top: 35px;
  margin-bottom: 30px;
} */

.research-section-dnkt {
  padding-bottom: 3%;
}

/* People Page */
.manfred-bio {
  padding: 1.75% 17%;
}

.manfred-title {
  font-family: 'Rubik', sans-serif;
  color: #3D3D46;
  font-size: 2.25rem;
}

.manfred-p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
}

.manfred-p-points {
  font-weight: 600;
}

.hr-bio {
  margin: 20px auto 30px;
  width: 10%;
  border-top: 5px dotted;
  background-color: transparent;
}

.members-bio {
  padding: 1% 17% 3%;
}

.members-h3 {
  font-family: 'Rubik', sans-serif;
  color: #3D3D46;
  text-align: center;
  padding-bottom: 3%;
}

.member-title {
  font-family: 'Rubik', sans-serif;
  color: #3D3D46;
  font-weight: 500;
}

.member-p {
  font-family: 'Work Sans', sans-serif;
}

.alumni-bio {
  padding: 1% 17% 4%;
}

/* Publications Page */
.publications-section {
  padding: 2% 17% 4%;
}

.pubs-title {
  font-family: 'Rubik', sans-serif;
  color: #3D3D46;
}

.pubs-text {
  font-family: 'Work Sans', sans-serif;
}

/* Contact Page */
.contact-container, .map-container {
  padding: 2% 17% 3%;
}

.contact-h3 {
  font-family: 'Rubik', sans-serif;
  color: #3D3D46;
}

.contact-p {
  font-family: 'Work Sans', sans-serif;
}

.map-responsive {
  text-align: center;
}

/* Links Page */
.links-container {
  padding: 1% 17% 3%;
}

.links-list {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

/* Scale to different device sizes */
/* Smaller phones */
@media only screen and (max-width: 600px) {
  .header-h3 {
    font-family: 'Rubik', sans-serif;
    color: #393b44;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
  }

  .img-logo {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .members-img {
    width: 50%;
    margin: auto;
  }

  /* get rid of the cards border */
  .kard {
    border: 0;
  }

  .manfred-bio {
    text-align: center;
  }

  .members-h3 {
    padding-bottom: 6%;
  }

  .members-bio {
    text-align: center;
    padding-bottom: 1%;
  }

  .alumni-bio {
    text-align: center;
    padding-bottom: 3%;
  }

  .contact-container {
    text-align: center;
  }
}

/* Let's make things even more responsive */

/* deal with weird img-fluid and cards conflicts */

@media only screen and (min-width: 768px) and (max-width: 837px) {
  .img-manfred {
    margin-top: 25px;
    width: 215px;
    height: 272px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-img {
    width: 700px;
    height: 100%;
  }
}

/* Small devices, tablets, larger phones */
@media only screen and (min-width: 600px) {
  .header-h3 {
    font-family: 'Rubik', sans-serif;
    color: #393b44;
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
  }

  .img-logo {
    width: 60%;
  }
}

/* Tablets On Landscape */
@media only screen and (min-width: 768px) {
  .img-logo {
    width: 50%;
  }
}

/* Larger Devices */
@media only screen and (min-width: 992px) {
  .img-logo {
    width: 40%;
  }
}

/* Extra  large devices */
@media only screen and (min-width: 1200px) {
  .img-logo {
    width: 35%;
  }
}

@media only screen and (min-width: 1400px) {
  .img-logo {
    width: 25%;
  }
}

/* Ultrawide Support ! */
@media only screen and (min-width: 2056px) {
  .img-logo {
    width: 15%;
  }
}
